.cool-lyrics
  .light
    color: black
    background-color: #DDD
    display: inline-block
    width: 50%
  .dark
    color: white
    background-color: #222
    display: inline-block
    width: 50%
  p
    text-align: center
    &.current
      color: blue
.cool-lyrics-player
  width: 100%